# Seleccionar datos en un Dataframe

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

In [2]:
# Leemos el fichero CSV asignando los tipos deseados a las columnas
df = pd.read_csv(
    'datos_limpios.csv',
    index_col=[0],
    dtype={'Comunidad':'string', 'Periodo':'int16', 'Poblacion':'int32'}
)

In [3]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion
0                     Andalucía     2021    8472407
1                        Aragón     2021    1326261
2       Asturias, Principado de     2021    1011792
3                Balears, Illes     2021    1173008
4                      Canarias     2021    2172944
5                     Cantabria     2021     584507
6               Castilla y León     2021    2383139
7          Castilla - La Mancha     2021    2049562
8                      Cataluña     2021    7763362
9          Comunitat Valenciana     2021    5058138
10                  Extremadura     2021    1059501
11                      Galicia     2021    2695645
12         Madrid, Comunidad de     2021    6751251
13            Murcia, Región de     2021    1518486
14  Navarra, Comunidad Foral de     2021     661537
15                   País Vasco     2021    2213993
16                    Rioja, La     2021     319796
17                        Ceuta     2021      83517
18                      Melilla     2021      86261

## Seleccionar una columna

In [4]:
# Seleccionamos la columna 'Comunidad'
columna = df['Comunidad']

In [5]:
# Mostramos la columna seleccionada
columna

0                       Andalucía
1                          Aragón
2         Asturias, Principado de
3                  Balears, Illes
4                        Canarias
5                       Cantabria
6                 Castilla y León
7            Castilla - La Mancha
8                        Cataluña
9            Comunitat Valenciana
10                    Extremadura
11                        Galicia
12           Madrid, Comunidad de
13              Murcia, Región de
14    Navarra, Comunidad Foral de
15                     País Vasco
16                      Rioja, La
17                          Ceuta
18                        Melilla
Name: Comunidad, dtype: string

In [6]:
# Mostramos el tipo de la columna (serie)
type(columna)

pandas.core.series.Series

In [7]:
# Otra forma de seleccionar una columna
df.Comunidad

0                       Andalucía
1                          Aragón
2         Asturias, Principado de
3                  Balears, Illes
4                        Canarias
5                       Cantabria
6                 Castilla y León
7            Castilla - La Mancha
8                        Cataluña
9            Comunitat Valenciana
10                    Extremadura
11                        Galicia
12           Madrid, Comunidad de
13              Murcia, Región de
14    Navarra, Comunidad Foral de
15                     País Vasco
16                      Rioja, La
17                          Ceuta
18                        Melilla
Name: Comunidad, dtype: string

## Seleccionar varias columnas

In [8]:
# Seleccionamos las columnas 'Comunidad' y 'Población'
columnas = df[['Comunidad','Poblacion']]

In [9]:
# Mostramos las columnas seleccionada
columnas

                      Comunidad  Poblacion
0                     Andalucía    8472407
1                        Aragón    1326261
2       Asturias, Principado de    1011792
3                Balears, Illes    1173008
4                      Canarias    2172944
5                     Cantabria     584507
6               Castilla y León    2383139
7          Castilla - La Mancha    2049562
8                      Cataluña    7763362
9          Comunitat Valenciana    5058138
10                  Extremadura    1059501
11                      Galicia    2695645
12         Madrid, Comunidad de    6751251
13            Murcia, Región de    1518486
14  Navarra, Comunidad Foral de     661537
15                   País Vasco    2213993
16                    Rioja, La     319796
17                        Ceuta      83517
18                      Melilla      86261

In [10]:
# Mostramos el tipo de la selección que hemos hecho
type(columnas)

pandas.core.frame.DataFrame