# Formatear Dataframe

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

In [2]:
# Leemos el fichero CSV
df = pd.read_csv('datos_limpios.csv', index_col=[0])

In [3]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion
0                     Andalucía     2021    8472407
1                        Aragón     2021    1326261
2       Asturias, Principado de     2021    1011792
3                Balears, Illes     2021    1173008
4                      Canarias     2021    2172944
5                     Cantabria     2021     584507
6               Castilla y León     2021    2383139
7          Castilla - La Mancha     2021    2049562
8                      Cataluña     2021    7763362
9          Comunitat Valenciana     2021    5058138
10                  Extremadura     2021    1059501
11                      Galicia     2021    2695645
12         Madrid, Comunidad de     2021    6751251
13            Murcia, Región de     2021    1518486
14  Navarra, Comunidad Foral de     2021     661537
15                   País Vasco     2021    2213993
16                    Rioja, La     2021     319796
17                        Ceuta     2021      83517
18                      Melilla     2021      86261

In [4]:
# Mostamos los tipos de datos del Dataframe
df.dtypes

Comunidad    object
Periodo       int64
Poblacion     int64
dtype: object

In [5]:
# Mostramos el uso de memoria en Bytes de las Series del Dataframe
df.memory_usage()

Index        152
Comunidad    152
Periodo      152
Poblacion    152
dtype: int64

In [6]:
# Cambiamos el tipo de la columna 'Comunidad' a string
df['Comunidad'] = df['Comunidad'].astype("string")

In [7]:
# Cambiamos el tipo de la columna 'Periodo' a int16
df['Periodo'] = df['Periodo'].astype("int16")

In [8]:
# Cambiamos el tipo de la columna 'Población' a int32
df['Poblacion'] = df['Poblacion'].astype("int32")

In [9]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion
0                     Andalucía     2021    8472407
1                        Aragón     2021    1326261
2       Asturias, Principado de     2021    1011792
3                Balears, Illes     2021    1173008
4                      Canarias     2021    2172944
5                     Cantabria     2021     584507
6               Castilla y León     2021    2383139
7          Castilla - La Mancha     2021    2049562
8                      Cataluña     2021    7763362
9          Comunitat Valenciana     2021    5058138
10                  Extremadura     2021    1059501
11                      Galicia     2021    2695645
12         Madrid, Comunidad de     2021    6751251
13            Murcia, Región de     2021    1518486
14  Navarra, Comunidad Foral de     2021     661537
15                   País Vasco     2021    2213993
16                    Rioja, La     2021     319796
17                        Ceuta     2021      83517
18                      Melilla     2021      86261

In [10]:
# Mostamos los tipos de datos del Dataframe
df.dtypes

Comunidad    string[python]
Periodo               int16
Poblacion             int32
dtype: object

In [11]:
# Mostramos el uso de memoria en Bytes de las Series del Dataframe
df.memory_usage()

Index        152
Comunidad    152
Periodo       38
Poblacion     76
dtype: int64