# Operaciones en filas y columnas en un Dataframe

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

In [2]:
# Leemos el fichero CSV asignando los tipos deseados a las columnas
df = pd.read_csv(
    'datos_pais.csv',
    index_col = [0],
    dtype = {'Comunidad':'string', 'Periodo':'int16', 'Poblacion':'int32', 'Pais':'string'}
)

In [3]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion    Pais
0                     Andalucía     2021    8472407  España
1                        Aragón     2021    1326261  España
2       Asturias, Principado de     2021    1011792  España
3                Balears, Illes     2021    1173008  España
4                      Canarias     2021    2172944  España
5                     Cantabria     2021     584507  España
6               Castilla y León     2021    2383139  España
7          Castilla - La Mancha     2021    2049562  España
8                      Cataluña     2021    7763362  España
9          Comunitat Valenciana     2021    5058138  España
10                  Extremadura     2021    1059501  España
11                      Galicia     2021    2695645  España
12         Madrid, Comunidad de     2021    6751251  España
13            Murcia, Región de     2021    1518486  España
14  Navarra, Comunidad Foral de     2021     661537  España
15                   País Vasco     2021    2213993  España
16                    Rioja, La     2021     319796  España
17                        Ceuta     2021      83517  España
18                      Melilla     2021      86261  España

## Operaciones en columnas

In [4]:
# Calculamos la población total
df['Poblacion'].sum()

47385107

In [5]:
# Número de elementos
df['Poblacion'].count()

19

In [6]:
# Valor medio
df['Poblacion'].mean()

2493953.0

In [7]:
# Desviación estándar
df['Poblacion'].std()

2585132.1163340528

In [8]:
# Máximo
df['Poblacion'].max()

8472407

In [9]:
# Mínimo
df['Poblacion'].min()

83517

In [10]:
# El método describe() también nos permitía obtener
# información estadística.
df.describe()

       Periodo     Poblacion
count     19.0  1.900000e+01
mean    2021.0  2.493953e+06
std        0.0  2.585132e+06
min     2021.0  8.351700e+04
25%     2021.0  8.366645e+05
50%     2021.0  1.518486e+06
75%     2021.0  2.539392e+06
max     2021.0  8.472407e+06

## Operaciones en filas

In [11]:
# Aunque en este ejemplo no tiene sentido,
# también podríamos operar sobre las filas
# Ej.: Suma del Periodo + Poblacion
df['Periodo'] + df['Poblacion']

0     8474428
1     1328282
2     1013813
3     1175029
4     2174965
5      586528
6     2385160
7     2051583
8     7765383
9     5060159
10    1061522
11    2697666
12    6753272
13    1520507
14     663558
15    2216014
16     321817
17      85538
18      88282
dtype: int32

In [12]:
# Si lo deseamos podemos crear una nueva columna
# con el resultado de la operación
df['Suma'] = df['Periodo'] + df['Poblacion']

In [13]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion    Pais     Suma
0                     Andalucía     2021    8472407  España  8474428
1                        Aragón     2021    1326261  España  1328282
2       Asturias, Principado de     2021    1011792  España  1013813
3                Balears, Illes     2021    1173008  España  1175029
4                      Canarias     2021    2172944  España  2174965
5                     Cantabria     2021     584507  España   586528
6               Castilla y León     2021    2383139  España  2385160
7          Castilla - La Mancha     2021    2049562  España  2051583
8                      Cataluña     2021    7763362  España  7765383
9          Comunitat Valenciana     2021    5058138  España  5060159
10                  Extremadura     2021    1059501  España  1061522
11                      Galicia     2021    2695645  España  2697666
12         Madrid, Comunidad de     2021    6751251  España  6753272
13            Murcia, Región de     2021    1518486  España  1520507
14  Navarra, Comunidad Foral de     2021     661537  España   663558
15                   País Vasco     2021    2213993  España  2216014
16                    Rioja, La     2021     319796  España   321817
17                        Ceuta     2021      83517  España    85538
18                      Melilla     2021      86261  España    88282