# Consultar Dataframe

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

In [2]:
# Leemos el fichero CSV asignando los tipos deseados a las columnas
df = pd.read_csv(
    'datos_limpios.csv',
    index_col=[0],
    dtype={'Comunidad':'string', 'Periodo':'int16', 'Poblacion':'int32'}
)

In [3]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion
0                     Andalucía     2021    8472407
1                        Aragón     2021    1326261
2       Asturias, Principado de     2021    1011792
3                Balears, Illes     2021    1173008
4                      Canarias     2021    2172944
5                     Cantabria     2021     584507
6               Castilla y León     2021    2383139
7          Castilla - La Mancha     2021    2049562
8                      Cataluña     2021    7763362
9          Comunitat Valenciana     2021    5058138
10                  Extremadura     2021    1059501
11                      Galicia     2021    2695645
12         Madrid, Comunidad de     2021    6751251
13            Murcia, Región de     2021    1518486
14  Navarra, Comunidad Foral de     2021     661537
15                   País Vasco     2021    2213993
16                    Rioja, La     2021     319796
17                        Ceuta     2021      83517
18                      Melilla     2021      86261

## Atributos

In [4]:
# Mostamos los tipos de datos del Dataframe
# consultando su atributo dtypes
df.dtypes

Comunidad    string[python]
Periodo               int16
Poblacion             int32
dtype: object

In [5]:
# Mostramos el número de filas y columnas del Dataframe
# consultando su atributo shape
df.shape

(19, 3)

In [6]:
# Mostramos los índices del Dataframe
# consultando su atributo index
df.index

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [7]:
# Mostramos las columnas del Dataframe
# consultando su atributo columns
df.columns

Index(['Comunidad', 'Periodo', 'Poblacion'], dtype='object')

## Métodos

In [8]:
# Mostramos la información del Dataframe
# invocando su método info()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Comunidad  19 non-null     string
 1   Periodo    19 non-null     int16
 2   Poblacion  19 non-null     int32
dtypes: int16(1), int32(1), string(1)
memory usage: 418.0 bytes

In [9]:
# Mostramos información estadística del Dataframe
# invocando su método describe()
df.describe()

       Periodo     Poblacion
count     19.0  1.900000e+01
mean    2021.0  2.493953e+06
std        0.0  2.585132e+06
min     2021.0  8.351700e+04
25%     2021.0  8.366645e+05
50%     2021.0  1.518486e+06
75%     2021.0  2.539392e+06
max     2021.0  8.472407e+06

## Funciones

In [10]:
# Obtenemos el tamaño del Dataframe (columnas)
# mediante la función len()
len(df)

19

In [11]:
# Obtenemos el valor máximo del índice del Dataframe
# mediante la función max()
max(df.index)

18

In [12]:
# Obtenemos el valor mímino del índice del Dataframe
# mediante la función min()
min(df.index)

0

In [13]:
# Obtenemos el valor máximo de la columna 'Población' del Dataframe
max(df['Poblacion'])

8472407

In [14]:
# Obtenemos el valor mínimo de la columna 'Población' del Dataframe
min(df['Poblacion'])

83517