# Agregar una columna a un Dataframe

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

In [2]:
# Leemos el fichero CSV asignando los tipos deseados a las columnas
df = pd.read_csv(
    'datos_limpios.csv',
    index_col=[0],
    dtype={'Comunidad':'string', 'Periodo':'int16', 'Poblacion':'int32'}
)

In [3]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion
0                     Andalucía     2021    8472407
1                        Aragón     2021    1326261
2       Asturias, Principado de     2021    1011792
3                Balears, Illes     2021    1173008
4                      Canarias     2021    2172944
5                     Cantabria     2021     584507
6               Castilla y León     2021    2383139
7          Castilla - La Mancha     2021    2049562
8                      Cataluña     2021    7763362
9          Comunitat Valenciana     2021    5058138
10                  Extremadura     2021    1059501
11                      Galicia     2021    2695645
12         Madrid, Comunidad de     2021    6751251
13            Murcia, Región de     2021    1518486
14  Navarra, Comunidad Foral de     2021     661537
15                   País Vasco     2021    2213993
16                    Rioja, La     2021     319796
17                        Ceuta     2021      83517
18                      Melilla     2021      86261

## Agregar una columna

In [4]:
# Agregamos la columna 'País' con el valor 'España'
df['Pais'] = 'España'

In [5]:
# Mostramos el Dataframe
df

                      Comunidad  Periodo  Poblacion    Pais
0                     Andalucía     2021    8472407  España
1                        Aragón     2021    1326261  España
2       Asturias, Principado de     2021    1011792  España
3                Balears, Illes     2021    1173008  España
4                      Canarias     2021    2172944  España
5                     Cantabria     2021     584507  España
6               Castilla y León     2021    2383139  España
7          Castilla - La Mancha     2021    2049562  España
8                      Cataluña     2021    7763362  España
9          Comunitat Valenciana     2021    5058138  España
10                  Extremadura     2021    1059501  España
11                      Galicia     2021    2695645  España
12         Madrid, Comunidad de     2021    6751251  España
13            Murcia, Región de     2021    1518486  España
14  Navarra, Comunidad Foral de     2021     661537  España
15                   País Vasco     2021    2213993  España
16                    Rioja, La     2021     319796  España
17                        Ceuta     2021      83517  España
18                      Melilla     2021      86261  España

In [6]:
# Guardamos el Dataframe en formato CSV
df.to_csv('datos_pais.csv')