# Filtrado con isin

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creamos el Dataframe a partir del dataset en CSV
# Amazon Top 50 Bestselling Books 2009-2019
df = pd.read_csv('amazon.csv')

In [3]:
# Mostrambos el Dataframe
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

## Filtrado simple

In [4]:
# Seleccionamos los libros de Stephen King o J.K. Rowling 
# Establecemos la condición
condicion = df['Author'].isin(['Stephen King', 'J.K. Rowling'])

In [5]:
# Filtramos el Dataframe por la condición
df[condicion]

,Name,Author,User Rating,Reviews,Price,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
79,Doctor Sleep: A Novel,Stephen King,4.7,15845,13,2013,Fiction
102,Fantastic Beasts and Where to Find Them: The O...,J.K. Rowling,4.7,4370,15,2016,Fiction
153,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,4.9,19622,30,2016,Fiction
154,"Harry Potter and the Cursed Child, Parts 1 & 2...",J.K. Rowling,4.0,23973,12,2016,Fiction
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3146,30,2017,Fiction
157,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9,10052,22,2016,Fiction
194,Joyland (Hard Case Crime),Stephen King,4.5,4748,12,2013,Fiction
353,The Casual Vacancy,J.K. Rowling,3.3,9372,12,2012,Fiction
520,Under the Dome: A Novel,Stephen King,4.3,6740,20,2009,Fiction

## Filtrado múltiple

In [6]:
# Seleccionamos los libros de Jeff Kinney o Gary Chapman
# De los años 2018 y 2019
condicion1 = df['Author'].isin(['Jeff Kinney', 'Gary Chapman'])
condicion2 = df['Year'].isin([2018, 2019])

In [7]:
# Filtramos el Dataframe por la condición
df[condicion1 & condicion2]

,Name,Author,User Rating,Reviews,Price,Year,Genre
328,The 5 Love Languages: The Secret to Love that ...,Gary Chapman,4.8,25554,8,2018,Non Fiction
329,The 5 Love Languages: The Secret to Love that ...,Gary Chapman,4.8,25554,8,2019,Non Fiction
435,The Meltdown (Diary of a Wimpy Kid Book 13),Jeff Kinney,4.8,5898,8,2018,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction